body{
  font-family: "Lato";
}
.topbar {
  background-color: #1b1b6c;
  color: white;
  padding: 10px;
  
}

.header {
  background-color: #13124f;
  color: white;
  padding: 40px 20px;
}
.header .btn {
  background-color: #f61067;
  color: white;
  padding: 6px 15px;
  border-radius: 4px;
  margin-top: 20px;
}

.messages {
  background: #f61067;
  color: white;
  padding: 8px 0;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; 
  border-radius: 3px 3px 0 0;
}

.messages p {
  margin: 0;              
}

.messages .count {
  background: #352ba5;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 5px;
}
.alert{
  background-color: #9090a5;
}

.welcome-box {
  background: #9090a5;
  margin-bottom: 15px;
}
.welcome-header {
  color: white;
  padding: 10px;
  font-weight: bold;
}
.welcome-body {
  background: #13124f;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.welcome-body input {
  margin-top: 10px;
  padding: 8px;
  background: #1b1b6c;
  color: white;
  
  outline: none;
  border-radius: 2px;
}
.welcome-body button {
  background: #f61067;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.small-text {
  font-size: 12px;
  display: flex; 
  justify-content: center;
  color: white;
  
}
.welcome-bottom{
  padding: 8px;
  background-color: #352ba5;
 
}

.vote {
  margin-top: 10px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
}
.progress {
  height: 8px;
  background: #2ad392;
  margin: 10px 0;
  border-radius: 4px;
}
.bar {
  width: 65%;
  height: 100%;
  background: #f61067;
  border-radius: 4px;
}
.vote-btns button.cool {
  background: #f61067;
  color: white;
  border: none;
}
.vote-btns button.lame {
  background-color: white;
  color: #2ad392;
   border: 2px solid #2ad392; 
}

.footer {
  background-color: #13124f;
  color: white;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .welcome-body {
    flex-direction: column;
  }
}